<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

</head>

<body>
	<div class="page-container">
        <h1>登录</h1>
		<form action="/company2/public/index/login/login" method="post">
		    <input type="text" name="name" class="username" placeholder="用户名">
		    <input type="password" name="password" class="password" placeholder="密码"></p>
		     <button class="submit" type="submit">提交</button>
		</form>
	</div>
	
    <script src="static/assets/js/supersized.3.2.7.min.js"></script>
    <script src="static/assets/js/scripts.js"></script>
	<script>
		if($(window).height()==$(document).height()){
	        $(".navbar-bottom").addClass("navbar-fixed-bottom");
	      }
	      else{
	        $(".navbar-bottom").removeClass(" navbar-fixed-bottom");
	      }
	</script>
</div>
</body>
</html>